
body{
	background-color:black;
	color:red;
}

.footer {
  position: relative;
  left: 0;
  bottom: -17px;
  width: 100%;
  height:35px;
  background-color: white;
  color: black;
  text-align: center;
}

#letra {
	font-size:11px;
}